%h3.page-title Coverage view

%div#tree-holder.tree-holder
  %div#tree-content-holder.tree-content-holder
    .file-holder
      .file-title
        %i.icon-file
        %span.file_name
          = @blob.name
          %small= number_to_human_size @blob.size
        %span.options= render "projects/blob/actions"
      - if @blob.text?
        = render "projects/blob/text", blob: @blob
      - elsif @blob.image?
        = render "projects/blob/image", blob: @blob
      - else
        = render "projects/blob/download", blob: @blob